body{
	font-family: 'Lato', sans-serif;
}

.section-anchor {
	display: block;
	position: relative;
    top: -100px;
    visibility: hidden;
}

.landing-title {
	padding-top: 2.5rem;
	padding-bottom: 0.5rem;
}

.navbar-item {
	transition-duration: 0.2s;
}

.landingPage {
	background-image: url(images/12apostles.jpg);
	background-repeat: no-repeat;
	background-position: bottom;
}

.img-headshot {
	border-radius: 50%;
	max-width: 200px;
	max-height: 200px;
	margin: auto;
	display: block;
}

.img-about-me{
	border-radius: 5%;
	margin: auto;
	display: block;
}
a.navbar-item:hover {
	background-color: #72abc3;
}

.landing-footer {
	padding-bottom: 1rem;
}

.download-wrapper {
	padding-bottom: 1.5rem;
}

.button{
	transition-duration: 0.2s;
}

.button-fade {
	display: block;
	background-color: transparent;
	color: #72abc3;
	border-radius: 8px;
	border: 2px solid #72abc3;
	margin: auto;
	max-width: 125px;
}

.button-fade:hover {
	background-color: #72abc3;
	color: white;
	border: 2px solid #72abc3;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.list-divider{
	display: block;
	margin: auto;
	background-color: #72abc3;
	width: 200px;
	height: 3px;
	margin-top: 40px;
}

.scroll-down-button{
	margin: auto;
	display: block;
	max-width: 500px;
	background-color: transparent;
	border: transparent;
	color: white;
}
.scroll-down-button:hover{

}

.scroll-icon{

}

.column {
	text-align: center;
}

.is-white{
	color:white;
}