
/* layout css */

body{
	font-family: 'Lato', sans-serif;
}

@media only screen and (min-width: 993px) {
	.nav-wrapper {
		padding-left: 4em;
		padding-right: 4em;
	}
}

@media only screen and (min-height: 540px) and (max-height: 600px) {
	.landing-padding {
		padding-top: calc(600px - 100vh);
	}	
}

@media only screen and (max-height: 540px) {
	.landing-padding {
		padding-top: 60px;
	}	
}

.section-anchor {
	display: block;
	position: relative;
    top: -15vh;
    visibility: hidden;
}

.container-padding{
	padding-top: 10vh;
	padding-bottom: 10vh;
}

.btn-margin {
	margin: 0.5em !important;
}

strong{
	font-weight:1000 !important;
}

.reverse-text{
	direction: rtl;
	unicode-bidi: bidi-override;
}

.has-text-centered {
	text-align: center !important;
}

.is-centered {
	align-items: center;
}

.is-round {
	border-radius: 50px !important
}

.normal-caps {
	text-transform: none !important
}

.is-fullheight {
	min-height: 100vh
}

.img-headshot {
	border-radius: 50%;
	max-width: 275px;
	max-height: 275px;
	margin: auto;
	display: block;
}

.icon-margin{
	margin: 5px 5px;
}

.title{
	font-family: 'Open Sans', sans-serif;
}

/* preloading css */

#loader {
	position:fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#main-container{
	opacity: 0;
    transition: opacity 1s ease-in;
}

#main-container.load {
    opacity: 1;
}

/* panels */
.project-panel{
	transition: 0.25s !important;
	transition-property: all;
}

.project-panel:hover {
	opacity: 0.75;
	transform: translateY(-10px) scale(1.025); 
	-webkit-transform: translateY(-10px) scale(1.025);	
}

.extra-spacing{
	min-height: 320px !important;
}

/* ============================ */
/* BULMA TEXT SIZES
/* ============================ */

.is-size-1 {
    font-size: 3rem !important;
  }
  
  .is-size-2 {
    font-size: 2.5rem !important;
  }
  
  .is-size-3 {
    font-size: 2rem !important;
  }
  
  .is-size-4 {
    font-size: 1.5rem !important;
  }
  
  .is-size-5 {
    font-size: 1.25rem !important;
  }
  
  .is-size-6 {
    font-size: 1rem !important;
  }
  
  .is-size-7 {
    font-size: 0.75rem !important;
  }
  
@media screen and (max-width: 768px) {
    .is-size-1-mobile {
      font-size: 3rem !important;
    }
    .is-size-2-mobile {
      font-size: 2.5rem !important;
    }
    .is-size-3-mobile {
      font-size: 2rem !important;
    }
    .is-size-4-mobile {
      font-size: 1.5rem !important;
    }
    .is-size-5-mobile {
      font-size: 1.25rem !important;
    }
    .is-size-6-mobile {
      font-size: 1rem !important;
    }
    .is-size-7-mobile {
      font-size: 0.75rem !important;
    }
}
  
@media screen and (min-width: 769px), print {
    .is-size-1-tablet {
      font-size: 3rem !important;
    }
    .is-size-2-tablet {
      font-size: 2.5rem !important;
    }
    .is-size-3-tablet {
      font-size: 2rem !important;
    }
    .is-size-4-tablet {
      font-size: 1.5rem !important;
    }
    .is-size-5-tablet {
      font-size: 1.25rem !important;
    }
    .is-size-6-tablet {
      font-size: 1rem !important;
    }
    .is-size-7-tablet {
      font-size: 0.75rem !important;
    }
}
  
@media screen and (max-width: 1087px) {
    .is-size-1-touch {
      font-size: 3rem !important;
    }
    .is-size-2-touch {
      font-size: 2.5rem !important;
    }
    .is-size-3-touch {
      font-size: 2rem !important;
    }
    .is-size-4-touch {
      font-size: 1.5rem !important;
    }
    .is-size-5-touch {
      font-size: 1.25rem !important;
    }
    .is-size-6-touch {
      font-size: 1rem !important;
    }
    .is-size-7-touch {
      font-size: 0.75rem !important;
    }
}
  
@media screen and (min-width: 1088px) {
    .is-size-1-desktop {
      font-size: 3rem !important;
    }
    .is-size-2-desktop {
      font-size: 2.5rem !important;
    }
    .is-size-3-desktop {
      font-size: 2rem !important;
    }
    .is-size-4-desktop {
      font-size: 1.5rem !important;
    }
    .is-size-5-desktop {
      font-size: 1.25rem !important;
    }
    .is-size-6-desktop {
      font-size: 1rem !important;
    }
    .is-size-7-desktop {
      font-size: 0.75rem !important;
    }
}
  
@media screen and (min-width: 1280px) {
    .is-size-1-widescreen {
      font-size: 3rem !important;
    }
    .is-size-2-widescreen {
      font-size: 2.5rem !important;
    }
    .is-size-3-widescreen {
      font-size: 2rem !important;
    }
    .is-size-4-widescreen {
      font-size: 1.5rem !important;
    }
    .is-size-5-widescreen {
      font-size: 1.25rem !important;
    }
    .is-size-6-widescreen {
      font-size: 1rem !important;
    }
    .is-size-7-widescreen {
      font-size: 0.75rem !important;
    }
}
  
@media screen and (min-width: 1472px) {
    .is-size-1-fullhd {
      font-size: 3rem !important;
    }
    .is-size-2-fullhd {
      font-size: 2.5rem !important;
    }
    .is-size-3-fullhd {
      font-size: 2rem !important;
    }
    .is-size-4-fullhd {
      font-size: 1.5rem !important;
    }
    .is-size-5-fullhd {
      font-size: 1.25rem !important;
    }
    .is-size-6-fullhd {
      font-size: 1rem !important;
    }
    .is-size-7-fullhd {
      font-size: 0.75rem !important;
    }
}
