body{
	font-family: 'Lato', sans-serif;
}

@media only screen and (min-width: 993px) {
	.nav-wrapper {
		padding-left: 4em;
		padding-right: 4em;
	}
}

.has-text-centered {
	text-align: center !important;
}

.is-centered {
	align-items: center;
}

.is-round {
	border-radius: 50px !important
}

.normal-caps {
	text-transform: none !important
}

.is-fullheight {
	min-height: 100vh
}

.img-headshot {
	border-radius: 50%;
	max-width: 225px;
	max-height: 225px;
	margin: auto;
	display: block;
}

.icon-margin{
	margin: 5px 5px;
}

.title{
	font-family: 'Open Sans', sans-serif;
}

/* preloading css */

#loader {
	position:fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#main-container{
	opacity: 0;
    transition: opacity 1s ease-in;
}

#main-container.load {
    opacity: 1;
}

.section-anchor {
	display: block;
	position: relative;
    top: -15vh;
    visibility: hidden;
}

.container-padding{
	padding-top: 10vh;
	padding-bottom: 10vh;
}

.btn-margin {
	margin: 0.5em !important;
}

strong{
	font-weight:1000 !important;
}

/* panels */
.project-panel{
	transition: 0.25s !important;
	transition-property: all;
}

.project-panel:hover {
	opacity: 0.75;
	transform: translateY(-10px) scale(1.05); 
	-webkit-transform: translateY(-10px) scale(1.05);	
}

.extra-spacing{
	min-height: 320px !important;
}

.reverse-text{
	direction: rtl;
	unicode-bidi: bidi-override;
}